asgiref==3.6.0
async-timeout==4.0.2
channels==4.0.0
channels-redis==4.1.0
confusable-homoglyphs==3.2.0
Django==4.2.1
django-bootstrap-datepicker-plus==5.0.3
django-filter==23.2
django-phonenumber-field==7.1.0
django-registration==3.3
djangorestframework==3.14.0
Markdown==3.4.3
msgpack==1.0.5
phonenumbers==8.13.11
Pillow==9.5.0
pydantic==1.10.8
pytz==2023.3
redis==4.5.5
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
