/* styles.css */
/* Base Page Css*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #391250;
    
  }
  
  header {
    background-color: #FDEDBB;
    color: #391250;
    padding: 20px;
    max-height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
  }
  nav .logo-image {
    max-height: 70%;
    max-width: 30%;
    margin-right: 10px;
}

nav li {
  margin-right: 5px;
  position: relative;
  top: 5px;
}

nav li:not(:first-child).move-down {
  margin-top: 15px;
}


  nav li:first-child a {
    display: flex;
    font-size: xx-large;
    position: relative;
    align-items: center;
    top: -25px;
  }
  nav li a {
    color: #391250;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
  }

  
  nav li a:hover {
    color: red;
  }
  /*Dang ki page Css    */ 
  .container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
  }
  
  .register-box {
    width: 30%;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    position: relative;
    margin-top: 2em;
  }
  .register-box::before {
    content: "";
    display: block;
    background-color: #FFF5CC;
    border-radius: 10px;
    width: 600px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .form-group-register {
    margin-bottom: 15px;
    text-align: left;
    position: relative; /* Add position relative to the form group */
  }
  
  .register-title {
    background-color: #D9B8FF;
    text-align: center;
    letter-spacing: -0.022em;
    color: #391250;
    border: none;
    border-radius: 15px;
    padding: 5px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .form-group-register label {
    display: block;
    font-family: Montserrat, sans-serif;
    margin-bottom: 5px;
  }
  
  .form-group-register input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    background-color: #D9B8FF;
  } 
  .register-button {
    background-color: #D9B8FF;
    color: #391250;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
  /* Show error message within input field */
  .form-group-register input:invalid + .error-message-register {
    display: block;
  }
  
  .error-message-register {
    color: red;
    font-size: 12px; /* Increase the font size for better visibility */
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}

  
  
  /* Login Page  CSS*/
  .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
  }
  
  .login-box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF5CC;
  }
  
  .login-title {
    background-color: #D9B8FF;
    color: #391250;
    border-radius: 15px;
    padding: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  
  .form-group-login {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group-login label {
    display: block;
    font-family: Montserrat, sans-serif;
    margin-bottom: 5px;
  }
  
  .form-group-login input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #D9B8FF;
    background-color: #E3CFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  
  
  .login-button {
    background-color: #D9B8FF;
    color: #391250;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message-login {
    color: red;
    margin-bottom: 10px;
  }
  
/*css cho page đăng kí thành công*/
.sucessfully-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
}

.sucessfully-register-container div {
  background-color: #FFF5CC;
  width: 50%;
  height: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  position: relative; /* Add this line to enable positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.Successfully-register-title {
  margin-top: 30px;
  background-color: #D9B8FF;
  text-align: center;
  letter-spacing: -0.022em;
  color: #391250;
  border: none;
  border-radius: 15px;
  padding: 5px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 0 auto;
}

.Successfully-register-close-button {
  position: absolute;
  top: 10px;
  right: 15px; /* Updated right value to move the close button to the right */
  font-size: 18px;
  color: #391250;
  text-decoration: none;
}

.Successfully-register-close-button:hover {
  color: #D9B8FF;
}

/*css cho page đăng nhập thành công*/
img[data-node-id='b2839220-5e8c-477e-8a29-1d3ed038f78c'] {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.user-list-container {
  width: 100%;
  height: auto; /* Đặt chiều cao cố định cho phần tử container */
  overflow-y: auto;
  margin-bottom: 5px;
}


.user-list {
  display: inline-block;
  padding-bottom: 20px;
}

.homepage-user-container {
  display: inline-block;
  width: 250px;
  height: auto;
  margin-right: 20px;
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  white-space: normal;
}

.homepage-user-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-info {
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.load-more-wrapper {
  position: relative;
  width: 100%;
  top: 0px;
}

.load-more-link {
  position: absolute;
  bottom: 0;
  right: 10px;
  text-decoration: underline;
  border-bottom: 1px solid black;
  color: #FDEDBB;
}

.homepage-user-container .background {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E3CFFF;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.homepage-user-container .background p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homepage-user-container .background .user-info {
  white-space: normal;
}

.user-info.user-name {
  color: #391250;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.user-info.tarot-role {
  color: #391250;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}

.user-info.status {
  color: #391250;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 10px;
  max-height: 48px; /* Limit the height to 4 lines (assuming line-height of 1.2em) */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the content to 4 lines */
  -webkit-box-orient: vertical;
}


/* More Reader page */
.card-reader-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.more_card_reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  margin-bottom: 20px;
}

.card-reader-container:nth-of-type(even) .more_card_reader {
  background-color: #FFF5CC; /* Set background color for even rows */
}

.card-reader-container:nth-of-type(odd) .more_card_reader {
  background-color: #E3CFFF; /* Set background color for odd rows */
}

.more_card_reader img {
  display: block;
  width: 106px;
  height: 130px;
  border-radius: 26px;
  margin-bottom: 10px;
}

.more_card_reader h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.more_card_reader p {
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.more_card_reader .vote {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
}

.more_card_reader .vote img.star-icon {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

/* Update User to Reader register */
.container-update {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
}

.update-box {
  width: 30%;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  position: relative;
  margin-top: 2em;
}
.update-box::before {
  content: "";
  display: block;
  background-color: #FFF5CC;
  border-radius: 10px;
  width: 600px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.form-group-update {
  margin-bottom: 15px;
  text-align: left;
  position: relative; /* Add position relative to the form group */
}

.update-title {
  background-color: #D9B8FF;
  text-align: center;
  letter-spacing: -0.022em;
  color: #391250;
  border: none;
  border-radius: 15px;
  padding: 5px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-group-update label {
  display: block;
  font-family: Montserrat, sans-serif;
  margin-bottom: 5px;
}

.form-group-update input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  background-color: #D9B8FF;
} 
.update-button {
  background-color: #D9B8FF;
  color: #391250;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



/* Show error message within input field */
.form-group-register input:invalid + .error-message-register {
  display: block;
}

.error-message-register {
  color: red;
  font-size: 12px; /* Increase the font size for better visibility */
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}
