<!DOCTYPE html>
{% load static %}
<html lang="en,vi">
<head>
    <meta charset="UTF-8">
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %}TaroTalk{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'Tarot:login' %}">
                        <img src="{% static 'img\TAROTALK_LOGO.png' %}" alt="Logo TAROTALK" class="logo-image">
                        TAROTALK
                    </a>
                </li>
                <li class="move-down"><a href="{% url 'Tarot:HomePage' %}">READERS</a></li>
                <li class="move-down"><a href="#">SỰ KIỆN</a></li>
                <li class="move-down"><a href="#">BÀI VIẾT</a></li>
                <li class="move-down"><a href="#">HƯỚNG DẪN</a></li>
                <li class="move-down"><a href="#">TÀI KHOẢN</a></li>
                
            </ul>
        </nav>
        
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
