{% extends "base.html" %} {% load static %} 
{% load custom_tags %} {# Load the custom_tags file #}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dup.css' %}" />
<link rel="stylesheet" href="{% static 'libs/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}" /> 
<link rel="stylesheet" href="{% static 'libs/calendar-01/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}


{% block content %}
<div class="container-fluid d-flex justify-content-center">
  <div class="col-md-5 card profile-zone text-center">
    <div
      class="row card-body card-content profile-img"
      style="text-align: center"
    >
      <div class="col-md-12 avatar-zone">
        <img class="avatar" src="{{ User.avatar.url }}" alt="avatar" style = "width: 30%; border-radius: 10px;" />
      </div>
      <div class="col-md-12 profile-infor mt-3">
        <h5 class="card-title" style="text-align: center">{{User.last_name}}</h5>
        <p class="card-text">{{User.tarot_role}}</p>
        <div class="rating">
          <!-- Add your rating component here -->
          <div class="vote">
            {% if User.star_vote is not None %}
              {% for _ in User.star_vote|get_star_range %}
                <img src="{% static 'img/star.png' %}" alt="Star Icon" class="star-icon">
              {% endfor %}
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="calendar calendar-first" id="calendar_first">
        <div class="calendar_header">
          <button class="switch-month switch-left">
            <i class="fa fa-chevron-left"></i>
          </button>
          <h2 class="month">June 2023</h2>
          <button class="switch-month switch-right">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
        <div class="calendar_weekdays"></div>
        <div class="calendar_content"></div>
      </div>
    </div>
  </div>
</div>







<script src="{% static '/libs/bootstrap-5.3.0-dist/js/bootstrap.min.js' %}"></script>

<script src="{% static '/libs/calendar-01/js/jquery.min.js' %}"></script>

<script src="{% static '/libs/calendar-01/js/popper.js'  %}"></script>
<script src="{% static '/libs/calendar-01/js/main.js' %} "></script>
{% endblock %}