{% extends "base.html" %} {% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}" /> 
<link rel="stylesheet" href="{% static 'libs/calendar-01/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/dup.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}


{% block content %}
<!--Banner-->

</div>
