{% extends "base.html" %} {% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}" /> 
<link rel="stylesheet" href="{% static 'libs/calendar-01/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/dup.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}


{% block content %}
<!--Banner-->

</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-6 card package-zone text-center">
        <div class="card-header text-center package-zone-header">
            Vui lòng chọn khung giờ
        </div>
        <div class="card-body package-zone-body" , style="padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);;">
            <a href="#" class="btn btn-package-item">9:00</a>
            <a href="#" class="btn btn-package-item">10:00</a>
            <a href="#" class="btn btn-package-item">11:00</a>
            <a href="#" class="btn btn-package-item">12:00</a>
        </div>
        <div class="card-body package-zone-body">
            <a href="#" class="btn btn-package-item">14:00</a>
            <a href="#" class="btn btn-package-item">15:00</a>
            <a href="#" class="btn btn-package-item">16:00</a>
            <a href="#" class="btn btn-package-item">17:00</a>
        </div>
        <div class="card-body package-zone-body">
            <a href="#" class="btn btn-package-item">18:00</a>
            <a href="#" class="btn btn-package-item">20:00</a>
            <a href="#" class="btn btn-package-item">21:00</a>
            <a href="#" class="btn btn-package-item">22:00</a>
        </div>
    </div>
</div>
<script src="../static/libs/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
<!-- <script src="{% static 'libs/js/choose-slot.js' %}"></script> -->
<script>
    var buttons = document.getElementsByClassName('btn-package-item');
    
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener('click', function() {
        var user_id = "{{ User.id }}"; // Retrieve the user_id from the Django template variable
        redirectToURL("/calendar/choose/checkout/" + user_id);
      });
    }
    
    // Function to redirect to a specific URL
    function redirectToURL(url) {
      window.location.href = url;
    }
  </script>
{% endblock %}