{% extends "base.html" %}
{% load static %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}
  <div class="homepage-content">
    <img src="{% static 'img/homepage_bar.png' %}" data-node-id="b2839220-5e8c-477e-8a29-1d3ed038f78c" data-type="image" class="">
    <div class="user-list-container">
      <div class="user-list">
        {% for user in istarot_users %}
          {% if forloop.counter <= 10 %}
            <div class="homepage-user-container">
              <div class="background">
                <a href="{% url 'Tarot:profile' user.id %}">
                <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar">
                <p class="user-info user-name">{{ user.last_name }}</p>
                <p class="user-info tarot-role">{{ user.tarot_role }}</p>
                <p class="user-info status">{{ user.status }}</p>
              </div>
              <a href="{%url 'Tarot:morereader'%}" class="load-more-link">Xem Thêm ></a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
