{% extends "base.html" %}
{% load static %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}
<img src="{% static 'img/homepage_bar.png' %}" data-node-id="b2839220-5e8c-477e-8a29-1d3ed038f78c" data-type="image" class="">

<div class="user-list">
    {% for user in istarot_users %}
    <div class="homepage-user-container">
      <div class="background">
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" width="410" height="261">
        <p class = "user-info user-name" > {{ user.last_name }}</p>
        <p class="user-info tarot-role">{{ user.tarot_role }}</p>
        <p class="user-info status">{{ user.status }}</p>
      </div>
    </div>
    {% endfor %}
    <div class="load-more-wrapper">
        <a href="#" class="load-more-link" id="load-more-link">Xem Thêm ></a>
      </div>
      
  </div>

{% endblock %}




<!-- 
#<h1> đăng nhập thành công</h1>
#<form id="logout-form" method="post" action="{% url 'Tarot:logout' %}">
#    {% csrf_token %}
#    <button type="submit">Log out</button>
#</form>

-->