{% extends "base.html" %}
{% load static %}
{% load custom_tags %} {# Load the custom_tags file #}

{% block title %}TaroTalk{% endblock %}
{% block content %}
<div class="card-reader-container">
  {% for user in istarot_users %}
    <div class="more_card_reader">
      <a href="{% url 'Tarot:profile' user.id %}">
        <!-- <a href="{% url 'user_detail' user.id %}"></a> -->
        <img src="{{ user.avatar.url }}">
        <h3>{{ user.last_name }}</h3>
        <p>{{ user.tarot_role }}</p>
        <div class="vote">
          {% if user.star_vote %}
            {% for _ in user.star_vote|get_star_range %}
              <img src="{% static 'img/star.png' %}" alt="Star Icon" class="star-icon">
            {% endfor %}
          {% endif %}
        </div>      
        <div class="status">{{ user.status }}</div>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
