{% extends "base.html" %} {% load static %}
{% load custom_tags %} {# Load the custom_tags file #}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'libs/bootstrap-5.3.0-dist/css/bootstrap.min.css' %}" /> 
<link rel="stylesheet" href="{% static 'libs/calendar-01/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/dup.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}
{% block content %}
<!--Banner-->
<section class="banner"  >
  <img src="{{ User.cover_page.url }}" alt="Banner Image" />
</section>

<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Profile -->
    <div class="col-md-4 position-fixed bottom-0 start-0 profile">
      <div class="card h-100 card-profile">
        <div class="card-body row" >
          <div class="col-md-5 avatar position-relative">
            <img
              src="{{ User.avatar.url }}"
              alt="avatar"
              class="avatar-image"
            />
          </div>
          <div class="col-md-6">
            <h5 class="card-title" style="font-weight: bold;">{{User.last_name}}</h5>
            <p class="card-text">{{User.tarot_role}}</p>
            <div class="rating">
              <!-- Add your rating component here -->
              <div class="vote">
                {% if User.star_vote is not None %}
                  {% for _ in User.star_vote|get_star_range %}
                    <img src="{% static 'img/star.png' %}" alt="Star Icon" class="star-icon">
                  {% endfor %}
                {% endif %}
              </div>
              
            </div>
            <div class="d-flex align-items-center">
              <button class="btn btn-chat btn-outline-light"><a href="{%url 'Tarot:chatbot' %}" style="text-decoration: none; color:black;"> Chat Now</a></button>
              <button class="btn btn-like">
                <i class="fas fa-heart fa-lg text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md-4 position-fixed bottom-0 start-0 profile-content">
        <p class="profile-description">
          {{User.introduction}}
        </p>
        <p class="list-service">Danh sách dịch vụ</p>
        <div class="service-buttons row col-md-4 position-fixed bottom-0 start-0">
          <a href="{% url 'Tarot:hour' User.id %}" class="btn btn-service" style="text-decoration: none; color: #391250;">Xem theo giờ</a>
          <a href="{% url 'Tarot:questions' User.id %}" class="btn btn-service" style="text-decoration: none; color: #391250;">Xem theo số lượng câu hỏi</a>
          <a href="{% url 'Tarot:package' User.id %}" class="btn btn-service" style="text-decoration: none; color: #391250;">Xem theo gói</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6 card package-zone" >
      <div class="card-header text-center package-zone-header">Theo số lượng câu hỏi</div>
      <div class="card-body package-zone-body">
        <a href="{% url 'Tarot:calendar' User.id %}" class="btn btn-package-item d-block"
          > 3 câu hỏi - 100.000 đồng
        <a href="{% url 'Tarot:calendar'  User.id %}" class="btn btn-package-item d-block"
          >5 câu hỏi - 120.000 đồng</a
        >
                
      </div>
    </div>
  </div>
</div>



{% endblock %}
