{% extends "base.html" %}
{% load static %}
{% block title %}TaroTalk{% endblock %}
{% block content %}
<div class="sucessfully-register-container">
  <div>
    <h2 class="Successfully-register-title">Đăng Ký Thành Công</h2>
    <h3 class="Successfully-register-title">Cảm ơn bạn đã đăng ký TaroTalk!</h3>
    <h3 class="Successfully-register-title">Chúc bạn có những trải nghiệm vui vẻ.</h3>
    <a class="Successfully-register-close-button" href="{%url 'Tarot:login'%}">X</a>
  </div>
  
</div>
{% endblock %}