{% extends "base.html" %}
{% load static %}
{% block title %}TaroTalk{% endblock %}
{% block content %}
<div class="sucessfully-register-container">
  <div>
    <h2 class="Successfully-register-title">Đăng ký Thành Công</h2>
    <h3 class="Successfully-register-title">cảm ơn bạn đã quan tâm TaroTalk!</h3>
    <h3 class="Successfully-register-title">TAROTALK sẽ liên hệ với bạn trong thời gian sớm nhất.</h3>
    <a class="Successfully-register-close-button" href="{%url 'Tarot:HomePage'%}">X</a>
  </div>
  
</div>
{% endblock %}