{% extends "base.html" %}
{% load static %}
{% block title %}TaroTalk{% endblock %}
{% block content %}
<div class="sucessfully-register-container">
  <div>
    <h2 class="Successfully-register-title">Page vẫn đang trong giai đoạn phát triển</h2>
    <h3 class="Successfully-register-title">Cảm ơn bạn đã quan tâm tới TaroTalk!</h3>
    <h3 class="Successfully-register-title">Xin lỗi bạn vì sự bất tiện này.</h3>
    <a class="Successfully-register-close-button" href="{%url 'Tarot:HomePage'%}">X</a>
  </div>
  
</div>
{% endblock %}